#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: mediumblue;
    text-align: center;
}

.par {
    position: absolute;
    padding: 2px;
    width: 70px;
    color: black;
    text-align: center;
    background-color: white;
    font-size: 10px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    border-radius: 3px;
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: aqua;
    padding-left: 11%;
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.center {
    background-color: mediumblue;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 2px;
}

.login {
    color: black;
    background-color: #f5f5f5;
    font-size: 15px;
    text-align: center;
    width: 15%;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid aqua;
    margin-left: 5px;
    padding: 4px;
}

.login:hover {
    background-color: mediumblue;
    transition: 0.6s;
    color: white;
}

.rodape {
    background-color: white;
    top: 100%;
    position: absolute;
    padding: 6px;
    width: 100%;
    text-align: center;
}

.rodape a {
    padding-left: 11%;
    font-size: 10px;
    width: 14%;
    padding: 5px;
    margin-left: 50%;
    font-weight: bold;
    text-align: center;
    display: block;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.rodape a:hover {
    background-color: mediumblue;
    transition: 0.7s;
    color: white;
    font-weight: bold;
    opacity: 90%;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 5px;
    color: white;
    top: 308px;
}

fieldset {
    border: 3px solid mediumblue;
    padding: 80px 10px 10px 10px;
}

legend {
    color: white;
    border: 10px solid mediumblue;
    text-align: center;
    background-color: mediumblue;
    border-radius: 5px;
}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline-style: none;
    color: white;
    font-size: 15px;
    width: 450px;
    letter-spacing: 1px;
}

.inputUser:hover {
    border-bottom: 1px solid lime;
    transition: 0.5s;

}

.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 0.5s;
}

.inputUser:focus~.labelInput,
.inputUser:valid~.labelInput {
    top: -15px;
    font-size: 12px;
    transition: 0.5s;
    color: #0f0;
}

.submit {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.submit:hover {
    background-color: #0f0;
    transition: 0.5s;
    color: white;
    font-weight: bold;
}